name: Test Model

on:
  workflow_run:
    workflows: ["Train Model"]
    types:
      - completed

jobs:
  test:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download model artifact
        uses: actions/download-artifact@v4
        with:
          name: model
          path: ./model
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Validate model
        uses: lasselundstenjensen/itu-sdse-project-model-validator@v1
        with:
          model-path: ./model
