name: Train Model

on:
  push: {} 
  pull_request:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install Dagger CLI
        run: |
          curl -fsSL https://dl.dagger.io/dagger/install.sh | BIN_DIR=$HOME/.local/bin sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Run Dagger pipeline
        run: go run ci/main.go

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: ./model
          retention-days: 7

  validate-model:
    needs: train
    runs-on: ubuntu-latest
    
    steps:
      - name: Download trained model artifact
        uses: actions/download-artifact@v4
        with:
          name: model
          path: ./model

      - name: Run model validator
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main

